{% extends 'user/home.html' %}

{% load staticfiles %}

{% block panel %}

<div class="row">
    <form method="post">
        {% csrf_token %}
        <div class="panel-group{% if form.confirm_password.errors %} has-error{% endif %}">
            <label class="control-label" for="{{ form.confirm_password.id_for_label }}">{{ form.confirm_password.label }}</label>
            <input type="password" class="form-control" value="{{ form.confirm_password.value|default_if_none:'' }}" id="{{ form.confirm_password.id_for_label }}"
                name="{{ form.confirm_password.html_name }}" maxlength="{{ form.confirm_password.field.max_length }}">
            {% for error in form.C.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <button class="btn btn-success" type="submit">Confirm credentials</button>
    </form>
</div>

{% endblock panel %}
