{% extends 'user/home.html' %}

{% load staticfiles %}

{% block panel %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">View Certification</h3>
        </div>
        <div class="panel-body">
            <div class="panel-group">
                <label class="form-control" for="cert_info">Cert Information</label>
                <textarea readonly class="viewarea form-control" id="cert_info">{{ cert_info }}</textarea>
            </div>
        </div>

        <div class="panel-body">
            <div class="panel-group">
                <label class="form-control" for="cert_pem">Cert PEM</label>
                <textarea readonly class="viewarea form-control" id="cert_pem">{{ cert_pem }}</textarea>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-group">
                <form action="{% url 'view' %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-default" type="submit">Download</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock panel %}
